<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<header>
						<h1>About Me</h1>
					</header>
					<br><br>
					<p> <b><i>My name is Arsenio Romero Jr, student id: 149873218, and I am a student in Seneca College, currently pursing Business Information Technology.
I am passionate about web development and enjoy exploring different technologies and frameworks to build modern and
interactive websites.</i></b></p>
					<br>
						<h5>
						<ul>Tutor: Arsenio Jr Romero </ul>
						<ul>Seneca Student Number: 149873218 </ul>
						<ul>Program: Postgraduate Certificate in Business Information Technology </ul>
						<ul>College: Seneca College, Toronto, ON </ul>
					</h5>

		<!-- End your code here  -->



	</main>
</div>
