@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,700&family=Pacifico&display=swap');

.bg-light {
  background-color: #c1e1c1 !important; /* Light green */
  box-shadow: inset;
}

.navbar.navbar-light .navbar-brand {
  color: #3a874f; /* Darker green */
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.page-title {
  margin-top: 5px;
  font-family: 'Pacifico', cursive;
  margin-bottom: 2px;
}
.img-section .img-thumbnail {
  width: 100%;
  height: 200px;
}

.card-header {
  background-color: #2e6a39; /* Deeper green */
  color: #fff;
}

body {
  background-color: #76b09c; /* Medium green */
  background-image: linear-gradient(160deg, #76b09c 0%, #2e6a39 100%); /* Gradient of green */
}


body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
